.Header {
    background-color: rgb(8, 193, 255);
    height: 60px;
}

body {
    background-color: rgb(142, 230, 240);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text_header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 600px;
    margin: 0 auto; 
    text-align: center;
    font-size: 36px;
}