.mid_section {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.places_to_visit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places_container {
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 120px 100px; /* Adjusted margin to add spacing */
    position: relative;
}

.places_container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 600px;
    background-color: white;
    z-index: -1;
    margin: 13px;
}

.places_image {
    width: 300px;
    height: 300px;
    margin: 45px;
}

.places_image img {
    max-width: 100%;
    max-height: 100%;
}

.places_container p {
    margin-left: 50px;
    margin-top: 5px;
    width: 300px;
    font-size: 16px;
    line-height: 20px;
}

.places_container h6{
    margin-top: 0%;
    margin-bottom: 0%;
}







.Main{
    background-color: rgb(61, 118, 117);
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    height: 900px;
    margin-top:0 ;
    margin: 2%;
    margin-left: 100px;
    border-radius: 50px;
}
.left_section{
    margin-left: 50px;
}

.left_section img{
     width: 840px;
     margin-top: 200px;
     margin-left: 30px;
     border-radius: 50px;
}
.Mid_section{
    margin-left: 100px;
}
.Mid_section img{
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 50px;
    width: 430px;
}
.Mid_section h1{
    text-decoration: underline;
    font-weight: 700; 
    font-size: 70px;
}

.right_section{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.Top_img{
    margin-top: 200px;
    margin-left: 30px;
    border-radius: 50px;
}
.bottom_img{
    margin-top:50px;
    margin-left: 30px;
    border-radius: 50px;
}
